{% load common_tags %}
<div class="form-group {% if field.errors %}has-error{% endif %}" id="ctrl-{{ field.auto_id }}">
    {% if not nolabel %}
    {% if label_override %}
    <label class="control-label">{{ label_override }}</label>
    {% else %}
    <label class="control-label">{{ field.label }}</label>
    {% endif %}
    {% endif %}


    {% if field|is_select %}
    <div class="ui-select" style="margin-bottom: 10px;">
    {% endif %}
        {% if append or prepend %}
        <div class="input-group">
            {% if prepend %}
            <span class="input-group-addon">
                {{ prepend }}
            </span>
            {% endif %}
        {% endif %}
    {{ field }}
        {% if append or prepend %}
            {% if append %}
            <span class="input-group-addon">
                {{ append }}
            </span>
            {% endif %}
        </div>
        {% endif %}
    {% if field|is_select %}
    </div>
    {% endif %}
    {% if field.help_text %}
    <span class='help-block m-b-none'>
            {{ field.help_text }}
    </span>
    {% endif %}
    {% if field.errors %}
    <span class='help-block m-b-none'>
    {% for error in field.errors %}
        {{ error }}<br/>
    {% endfor %}
    </span>
    {% endif %}
</div>
