<!DOCTYPE html>
<html>
<head>
    <title> Ghoknhar - Casual Gaming</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
    {% block extra_css %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32589634-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="http://use.typekit.com/gsj7mke.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="tk-botanika-mono-web">
<div id="header">
    <div class="wrapper">
        <img src="{{ STATIC_URL }}img/ghoknhar-logo.png" alt="Ghoknhar - Casual Gaming" width="416" height="56" />
        <img src="{{ STATIC_URL }}img/casual-gaming.png" alt="Casual Gaming" id="casual-gaming" width="232" height="24" />
    </div>
</div>
<div id="video-container">
    <div class="wrapper">
        <div id="video-spot">
            {% block video_script %}{% endblock %}
        </div>
        <div id="chat-spot">
            <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://twitch.tv/chat/embed?channel=ghoknhar&amp;popout_chat=true" height="420" width="310"></iframe>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrapper">
    {% block current_game %}
    {% include "partials/game.html" %} 
    {% endblock %}
    <div id="site-container">
        <h2 class="tk-pragmatica-web">// Recent Videos</h2>
        {% include "partials/feed.html" with videos=videos %}
        <h2 class="tk-pragmatica-web">// Comp Specs</h2>
        <ul>
            <li>CPU: Intel Core i7-2600K Sandy Bridge 3.4GHz</li>
            <li>GPU: ATI Radeon HD 6870</li>
            <li>RAM: 8 GBs DDR3</li>
            <li>HDD: 2 TBs Seagate</li>
            <li>PSU: 900W</li>
            <li>Mouse: <a href="https://www.amazon.com/dp/B004AM5RAM/ref=as_li_ss_til?tag=movtee-20&camp=0&creative=0&linkCode=as4&creativeASIN=B004AM5RAM&adid=1JNKM864BXM8ZJVGGKXN&">Razer Naga</a></li>
            <li>Keyboard: <a href="https://www.amazon.com/dp/B003M549A2/ref=as_li_ss_til?tag=movtee-20&camp=0&creative=0&linkCode=as4&creativeASIN=B003M549A2&adid=07JT9A00XTYV06CV79WX&">Das Keyboard</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.article a').click(function(e){
        e.preventDefault();
        var href = $(this).attr('data-id');
        var yt_embed = 'http://www.youtube.com/embed/';
        $('#video-spot iframe').attr('src', yt_embed+href);
    });
});
</script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
