{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/faith.less" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    var check_for_faith = 1000;
    var faith_check_timeout = setInterval(faith_check, check_for_faith);

    function faith_check() {
        $.get('{% url faith:check_votes bar.id %}', function(json_response) {
            if(json_response.success) {
                var faith_count = json_response.faith_count;
                var no_faith_count = json_response.no_faith_count;
                update_faith(faith_count, no_faith_count);
            }else if(!json_response.success && json_response.new_bar) {
                window.location.reload();
            } else {
                alert('Hmm... Something went wrong... maybe refresh?');
                clearInterval(faith_check_timeout);
            }
        });
    }
    function update_faith(faith_count, no_faith_count) {
        var percentage = Number((Number(faith_count) / Number((faith_count + no_faith_count)))) * 100;
        $('#has_faith').css({'width': percentage+'%'});
    }
});
</script>
{% endblock %}

{% block content %}
    <div class="video_container">
        <object type="application/x-shockwave-flash" height="390" width="640" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=ghoknhar" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=ghoknhar&auto_play=false&start_volume=25" /></object><a href="http://www.twitch.tv/ghoknhar#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from ghoknhar on www.twitch.tv</a>
    </div>
    <div class="chat_container">
        <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://twitch.tv/chat/embed?channel=ghoknhar&amp;popout_chat=true" height="420" width="310"></iframe>
    </div>
    <div class="clear"></div>
    <div id="faith_container">
        <div id="faith_bar">
            <div id="has_faith"></div>
        </div>
        {% if not has_voted %}
        <div id="faith_buttons">
            <a class="button" id="faith_me" href="{% url faith:vote bar.id %}?is=faith">faith</a>
            <a class="button" id="no_faith_me" href="{% url faith:vote bar.id %}?is=faithless">no faith</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
