{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block video_script %}
{% with main_video=videos.0 %}
<iframe width="640" height="390" src="http://www.youtube.com/embed/{{ main_video.id }}" frameborder="0" allowfullscreen></iframe>
{% endwith %}
<p class="tune-in">VIDEOS DAILY: 10:00am &amp; 3:00pm CST</p>
<div class="button-link">
    <a href="http://www.youtube.com/subscription_center?add_user=ghoknhar">Subscribe +</a>
</div>
{% endblock %}

{% block current_game %}
    {% if game %}
    {% include "partials/game.html" with game=game %}
    {% endif %}
{% endblock %}