{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/faith.less" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    var check_for_faith = 1000;
    var faith_check_timeout = setInterval(faith_check, check_for_faith);
    var bar_id = {{ bar.id }};
    function faith_check() {
        var url = '{% url faith:check_votes 0 %}'.replace('0', bar_id);
        $.get(url, function(json_response) {
            if(json_response.success) {
                var faith_count = json_response.faith_count;
                var no_faith_count = json_response.no_faith_count;
                update_faith(faith_count, no_faith_count);
            }else if(!json_response.success && json_response.new_bar) {
                bar_id = json_response.bar_id;
                reset_faith();
            } else {
                alert('Hmm... Something went wrong... maybe refresh?');
                clearInterval(faith_check_timeout);
            }
        });
    }

    function update_faith(faith_count, no_faith_count) {
        var faith_total = (faith_count + no_faith_count);
        var percentage = Number((Number(faith_count) / Number(faith_total))) * 100;
        var faithless_percentage = Number(100 - percentage);
        if(percentage >= 0) {
            $('#has_faith').css({'width': percentage+'%'});
            $('#faith_percent').html(percentage.toFixed()+'%');
            $('#no_faith_percent').html(faithless_percentage.toFixed()+'%');
            $('#faith_votes span').html(faith_total);
        }
    }

    function reset_faith() {
        $('#has_faith').css({'width': '50%'});
        $('#faith_percent').html('0%');
        $('#no_faith_percent').html('0%');
        $('#faith_buttons a').removeClass('disabled');
        $('#faith_votes span').html('0');
    }

    $('#faith_buttons a').click(function(e) {
        e.preventDefault();
        var href = $(this).attr('href').replace('0', bar_id);
        $.get(href, function(json_response) {
            $('#faith_buttons a').addClass('disabled');
        });
    });
});
</script>
{% endblock %}

{% block video_script %}
        <object type="application/x-shockwave-flash" height="390" width="640" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=ghoknhar" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=ghoknhar&auto_play=false&start_volume=25" /></object>
        <p class="tune-in">LIVE NOW</p>
        <div class="button-link">
            <a href="http://www.youtube.com/subscription_center?add_user=ghoknhar" 
                target="_blank">Subscribe +</a>
        </div>
{% endblock %}
