{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            {% for switch in switches %}
                <button class="ghok-switch list-group-item {% if switch.active %}active{% endif %}" data-switch-id="{{ switch.device_id }}">
                    <span class="badge">{{ switch.device_id }}</span>
                    {{ switch.name }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
    <script type="text/javascript">
    $(document).ready(function() {

        $('.ghok-switch').on('toggleSwitch', function(e) {
            var id = $(this).attr('data-switch-id');
            var active = $(this).hasClass('active');
            $.ajax({
                url:'{% url "zwave:zwave-updater" %}?format=json',
                method: "PUT",
                data: JSON.stringify({
                    device_id: id,
                    types: {
                        switch: {
                            active: !active
                        }
                    }
                }),
                contentType:'application/json',
                dataType: 'json'
            });
        });

        $('.ghok-switch').on('updateSwitch', function(e, id, active) {
            var elem = $('.ghok-switch[data-switch-id="'+id+'"]');
            console.log(active);
            if(active) {
                elem.addClass('active');
            } else {
                elem.removeClass('active');
            }
        });

        $('.ghok-switch').on('click', function(e) {
            e.preventDefault();
            $(this).trigger('toggleSwitch');
        });

        // Note that the path doesn't matter right now; any WebSocket
        // connection gets bumped over to WebSocket consumers
        socket = new WebSocket((window.location.protocol == 'http') ? 'ws://' : 'wss://' + window.location.host + "/zwave/");
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            $('.ghok-switch').trigger('updateSwitch', [data.id, data.active]);
        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    });
    </script>
{% endblock %}