{% extends "base.html" %}

{% block meta_title %}Gameplay Videos - Guild Wars 2 - Reviews{% endblock %}
{% block meta_keywords %}Guild Wars 2, Ranger, Profession, Char, Race, Ranger Profession, Gameplay, Review, Commentation, Commentary{% endblock %}
{% block meta_description %}Ghoknhar.com is my portal to release awesome and exciting gaming content to the community. I play many games and record them all and upload them to youtube. I also play live on twitch tv! Come check out all this awesome video game commentary and reviews!{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block video_script %}
<img width="640" height="390" src="{{ STATIC_URL }}img/guildwars2/char-ranger-gameplay.jpg" alt="Guild Wars 2 Ranger Gameplay Hero Image"/>
<p class="tune-in">VIDEOS DAILY: 10:00am &amp; 3:00pm CST</p>
<div class="button-link">
    <a href="http://www.youtube.com/subscription_center?add_user=ghoknhar"
        target="_blank">Subscribe +</a>
</div>
{% endblock %}

{% block current_game %}
    <div id="game-container">
        <img src="{{ STATIC_URL }}img/guildwars2/GW2_Logo.jpg" height="128" alt="Guild Wars 2" />
        <div class="game-name">
            <h3>Gameplay:</h3>
            <h1>Ranger</h1>
            <div class="button-link">
                <a href="{% url gw2-ranger %}">Watch Review</a>
            </div>
        </div>
        <div class="clear"></div>
    </div> 
{% endblock %}