{% extends "base.html" %}

{% block meta_title %}Char Ranger Gameplay - Guild Wars 2 - Commentary &amp; Review by Ghoknhar{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.youtubeplaylist.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".video-list").ytplaylist({
        playerHeight: 338,
        playerWidth: 600,
        addThumbs: true,
        thumbSize: 'small',
        showRelated: false
    });
});
</script>
{% endblock %}

{% block extra_css %}
<style type="text/css">
.video-list li.currentvideo a{
    background: #2299d0;
    font-weight: bold;
    color: #FFF;
}
.video-list a{
    padding: 5px;
    width: 190px;
    height: 110px;
    float: left;
    text-align: center;
    background: #efefef;
    color: #2299d0;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
.video-list {
    background: #efefef;
}
.gw2playlist {
    background-color: #efefef;
}
</style>
{% endblock %}

{% block video_script %}
<img width="640" height="390" src="{{ STATIC_URL }}img/guildwars2/char-ranger-gameplay.jpg" alt="Guild Wars 2 Ranger Gameplay Hero Image"/>
<p class="tune-in">VIDEOS DAILY: 10:00am &amp; 3:00pm CST</p>
<div class="button-link">
    <a href="http://www.youtube.com/subscription_center?add_user=ghoknhar"
        target="_blank">Subscribe +</a>
</div>
{% endblock %}

{% block current_game %}
<div id="game-container" style="margin-top: 20px;">
    <h2 class="tk-pragmatica-web">// Ranger Gameplay Videos:</h2>
    <div class="gw2playlist">
        <div id="ytvideo"></div>
        <ul class="video-list">
            <li><a href="http://www.youtube.com/watch?v=Hee5iG3oqU8"
                title="Char Ranger Gameplay - Part 1">Part 1</a></li>
            <li><a href="http://www.youtube.com/watch?v=XNBwadY_OnI"
                title="Char Ranger Gameplay - Part 2">Part 2</a></li>
            <li><a href="http://www.youtube.com/watch?v=l04giuqTReY"
                title="Char Ranger Gameplay - Part 3">Part 3</a></li>
            <li><a href="http://www.youtube.com/watch?v=YXT-oAO2j8E"
                title="Char Ranger Gameplay - Part 4">Part 4</a></li>
            <li><a href="http://www.youtube.com/watch?v=T6KBQpu_KP4"
                title="Char Ranger Gameplay - Part 5">Part 5</a></li>
            <li><a href="http://www.youtube.com/watch?v=5THwF1fHfEY"
                title="Char Ranger Gameplay - Part 6">Part 6</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <h2 class="tk-pragmatica-web">// Thoughts:</h2>
    <p>
        The Char Ranger was my first profession in Guild Wars 2 so I had the learning
        curve of figuring out the UI and the feel of the game. Even with these obstacles
        I feel that the Ranger played really well!
    </p>
    <p>
        The combat felt really great and weighty, the short bow was my favoriate weapon
        for questing cause of the single target DPS. The long bow seems to be
        more for AoE damage.
    </p>
    <p>
        I only played levels 1-8 but in that time the pets seems to die almost instantly
        and then would roam around useless for a bit during larger event battles. For 1
        or 2 mobs the pet did great holding aggro while I put out the DPS, however the
        damage output of the pet was rather low.
    </p>
    <a href="http://wiki.guildwars2.com/wiki/Ranger"> Guild Wars 2 Wiki : Ranger </a>
</div>
{% endblock %}