@faithless: #DB8C9D;
@faithful: #6A7AD4;

#faith_container {
    width: 680px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;

    #faith_bar {
        width: 680px;
        height: 40px;
        background-color: @faithless;
        border-radius: 20px;

        #has_faith {
            width: 0%;
            height: 40px;
            background-color: @faithful;
            border-right: 1px solid #000;
            border-radius: 20px;
        }
    }

    #faith_buttons {
        width: 600px;
        text-align: center;

        .button {
            width: 200px;
        }

        #faith_me {
            background-color: @faithful;
            margin-right: 100px;
        }
        
        #no_faith_me {
            background-color: @faithless;
        }
    }
}
