@lighter-base: #444;
@lighter-blue: #6eb0cf;
@base: #443b3b;
@background: #e7e7e7;

.clear {
    clear: both;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: @background;
}
#wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;

    #header {
        width: 960px;
        margin-bottom: 10px;
        margin-top: 10px;

        h1 {
            font-size: 56px;
            font-weight: bold;
            letter-spacing: 2px;
            color: @base;
            margin: 0px;
            padding: 0px;
            line-height: 42px;
        }
        h2 {
            font-size: 16px;
            letter-spacing: 4px;
            color: @lighter-blue;
            margin: 5px 0 0 30px;
            padding: 0px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: bold
        }

        #social-links {
            ul {
                margin: 0;
                padding: 0;

                li {
                    display: inline;
                }
            }
        }
    }

    #content {
        width: 960px;
        margin-bottom: 10px;

        .video_container {
            text-align: center;
            float: left;
        }

        .chat_container {
            text-align: right;
            float: right;
        }

        #new_bar {
            font-size: 36px;
            border: 1px solid #000;
            text-align: center;
        }
    }
    
    #footer {
        width: 960px;
        text-align: center;
        font-size: 10px;

        p {
            padding: 0;
            margin: 5px 0 0 0;
        }
    }
}
