<ul class="list-unstyled list-inline">
    <li ng-repeat="device in devices">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-desc">
                    <small class="text-muted">Device</small>
                    <a href="#" class="product-name"> {{device.name}}</a>

                    <ul class="list-inline text-right">
                        <li class="m-t"
                            ng-repeat="cls in device.instances[0].command_classes" ng-mouseenter="updateCurrentClass(cls, $event)">
                            <div ng-if="cls.command_class_id=='37'">
                                <button href="#" class="btn btn-success btn-outline dim btn-lg btn-large-dim" ng-click="switchToggle(cls, $event)">
                                    <span class="fa fa-toggle-on" ng-hide="cls.value=='0'"></span>
                                    <span class="fa fa-toggle-off" ng-hide="cls.value=='1'"></span>
                                </button>
                            </div>
                            <div ng-if="cls.command_class_id=='38'">
                                <div class="btn-outline btn btn-primary dim btn-large-dim" style="padding-top: 10px;">
                                    <knob knob-data="cls.value" knob-options="knobOptions" ></knob>
                                </div>
                                <button href="#" class="btn btn-success btn-outline dim btn-lg btn-large-dim" ng-click="switchToggle(cls, $event)">
                                    <span class="fa fa-toggle-on" ng-hide="!onOff(cls)"></span>
                                    <span class="fa fa-toggle-off" ng-hide="onOff(cls)"></span>
                                </button>
                            </div>
                            <div ng-if="cls.command_class_id=='50'" >
                                <button href="#" class="btn btn-primary btn-outline dim btn-lg btn-large-dim" ng-click="switchToggle(cls, $event)">
                                    <span class="fa fa-lightbulb-o"></span>
                                    <small>
                                        {{cls.data["0"]["val"]["value"]}}{{cls.data["0"]["scaleString"]["value"]}}
                                    </small>
                                </button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </li>
</ul>
