<div class="panel panel-default" id="chatbox">
    <div class="panel-body" id="message_container">
    </div>
    <div class="panel-footer" id="message_input_container">
        <div class="input-group">
            <span class="input-group-addon">Chat</span>
            <input type="text" class="form-control" placeholder="Message" id="message_input">
            <div class="input-group-btn">
                <button id="message_send" class="btn btn-info">Send</button>
            </div>
        </div>
    </div>
</div>
