{% extends "base.html" %}
{% block body_attrs %}class="no-sidebar"{% endblock %}
{% block side_navigation %}{% endblock %}
{% block header_navigation %}{% endblock %}
{% block content %}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">GN</h1>
        </div>
        <h3>Ghoknhar Network</h3>
        <p>Login to utilize the assets available on the network.</p>
        <form class="m-t" role="form" action="" method="POST">
        {% csrf_token %}
            {% include "_partials/field.html" with field=form.username nolabel=True %}
            {% include "_partials/field.html" with field=form.password nolabel=True %}
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a ui-sref="forgot_password"><small>Forgot password?</small></a>
            {% comment %}
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
            {% endcomment %}
        </form>
        <p class="m-t"> <small>Johnson Family &copy; 2015</small> </p>
    </div>
</div>
{% endblock %}
